
@font-face {
    font-family: 'Exo2.0';
    src: local('Exo2.0'),
        url(../fonts/Exo2.0-Thin.otf);
}

@font-face {
    font-family: 'Trebuchet-MS';
    src: local('Trebuchet-MS'),
        url(../fonts/trebuchetms.ttf);
}